/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed By HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2021 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@font-face {
    font-family: 'NeoSansArabic-Regular';
    src: url('../fonts/NeoSansArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansArabic-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeoSansArabicMedium.woff') format('woff');
}

@font-face {
    font-family: 'NeoSansArabic-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeoSansArabicBold.woff') format('woff');
}

@font-face {
    font-family: 'NeoSansArabic-Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeoSansArabicBlack.woff') format('woff');
}

@font-face {
    font-family: 'NeoSansArabic-Ultra';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NeoSansArabicUltra.woff') format('woff');
}

:root {
    --primaryColor: #39a1db;
    --secondaryColor: #8dd0f3;
    --blue: #a1dbf9;
    --white: #fff;
    --black: #000;
    --text: #50586b;
    --textLight: #777777;
    --bg: #23262d;
    --bgLight: #f0faff;
}

body {
    font-family: 'NeoSansArabic-Regular', sans-serif;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    background: var(--White);
}

h2,
h3 {
    font-family: 'NeoSansArabic-Bold', sans-serif;
}

.stopScroll {
    overflow: hidden;
}

p {
    color: var(--textLight);
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}

img {
    display: block;
}

a {
    text-decoration: none !important;
}


input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.primaryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primaryColor);
    color: var(--white);
    height: 45px;
    border: 0;
    border-radius: 25px 0 25px 25px;
    width: 150px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    font-family: 'NeoSansArabic-Regular', sans-serif;
}

.primaryBtn::before,
.primaryBtn::after {
    content: '';
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    background: var(--secondaryColor);
    transition: all .5s ease-in-out;
}

.primaryBtn:hover::before {
    transform: rotateX(90deg);
}

.primaryBtn:hover::after {
    transform: rotateY(90deg);
}

.primaryBtn span {
    position: relative;
    padding-inline-end: 35px;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.primaryBtn:hover span {
    padding: 0;
}

.primaryBtn:hover,
.primaryBtn:hover span {
    color: var(--white);
}

.primaryBtn span::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #32557f;
    border-left: 0;
    border-top: 0;
    transform: rotate(-225deg);
    display: inline-block;
}

.primaryBtn span::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid var(--white);
    border-left: 0;
    border-top: 0;
    transform: rotate(-225deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 6px;
}

.primaryBtn span::after {
    content: '';
    width: 25px;
    height: 1px;
    background: var(--white);
    position: absolute;
    left: 0;
    top: 10px;
}

.primaryBtn:hover span::before,
.primaryBtn:hover span::after {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

@media (min-width:1700px) {
    .container {
        max-width: 1420px;
    }
}

@media (min-width:1500px) {
    .container {
        max-width: 1200px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||           Header          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    background: linear-gradient(180deg, var(--bg) 50%, var(--white) 50%);
    padding: 40px 0;
    position: relative;
}

.header::before {
    content: '';
    background: url('../images/dots.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: -17%;
    top: -24%;
    width: 31%;
    height: 51%;
    animation: scale 3s ease-in-out infinite alternate;
}

@keyframes scale  {
    0% {
        transform: scale(0.3) rotate(20deg);
    }
    100% {
        transform: scale(1.0) rotate(-20deg);
    }
}

.HeaderNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-size: 18px;
    margin-bottom: 40px;
}

.menuToggle {
    display: flex;
    align-items: center;
}

.menuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--blue);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px 9px;
}

.menuBtn {
    position: relative;
}

.menuBtn span,
.menuBtn span::before,
.menuBtn span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--black);
    transition-duration: .25s;
}

.menuBtn span::before {
    content: '';
    top: -7px;
}

.menuBtn span::after {
    content: '';
    top: 7px;
}

.menuBtn.open span {
    transform: rotate(45deg);
}

.menuBtn.open span::before {
    top: 0;
    transform: rotate(0);
}

.menuBtn.open span::after {
    top: 0;
    transform: rotate(90deg);
}


.menuToggle label {
    margin: 0;
    margin-inline-start: 15px;
}

.language {
    width: 130px;
    background: var(--blue);
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.language a {
    color: var(--black);
}

.language:hover {
    background: var(--primaryColor);
}

.language:hover a {
    color: var(--white);
}

.closeMenu {
    display: block;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.closeMenu:before,
.closeMenu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--white);
}

.closeMenu:before {
    transform: rotate(45deg);
}

.closeMenu:after {
    transform: rotate(-45deg);
}

.closeMenu:hover::before,
.closeMenu:hover::after {
    background: var(--primaryColor);
}

.mainMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    max-width: 70%;
    bottom: 0;
    padding: 30px;
    background: var(--bg);
    height: 100vh;
    z-index: 99;
    transform: translate(100%);
    transition: all .7s ease-in-out;
}

.mainMenu.show {
    transform: translate(0);
}

.mainMenu ul {
    list-style: none;
    font-size: 25px;
}

.mainMenu a {
    color: inherit;
    display: block;
    line-height: 45px;
    margin-bottom: 20px;
    position: relative;
}

.mainMenu a::before {
    color: var(--primaryColor);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    word-break: normal;
    content: attr(data-text);
    transition-timing-function: cubic-bezier(0.39, 0.13, 0.55, 0.88);
    transition-duration: 0.9s;
    transition-property: width;
    will-change: width;
    -webkit-text-fill-color: var(--primaryColor);
    -webkit-text-stroke: unset;
}

.mainMenu a:hover::before {
    width: 100%;
}

.navOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
}

.navOverlay.show {
    opacity: 1;
    visibility: visible;
}

.headerSlider {
    background: var(--bgLight);
    border-radius: 50px;
    padding: 5%;
}

.itemVector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerSlider h2,
.headerSlider h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.headerSlider h3 {
    color: var(--primaryColor);
}

.headerSlider .primaryBtn {
    margin-top: 40px;
}

.headerSlider .owl-dots {
    justify-content: flex-end;
}

.social {
    display: flex;
    align-items: center;
    transform: matrix(0, -1, 1, 0, 0, 0);
    position: absolute;
    left: -40px;
    bottom: 44%;
    color: var(--white);
    font-size: 13px;
}

.social a {
    width: 40px;
    height: 40px;
    background: var(--secondaryColor);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transform: matrix(0, 1, -1, 0, 0, 0);
}

.social a:hover {
    background: var(--primaryColor);
}

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           About           ||========================*/
/*==========================||---------------------------||========================*/

.about {
    position: relative;
    overflow: hidden;
}

.about::after {
    content: '';
    background: url('../images/shape-1.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 37%;
    height: 100%;
}

.secPadding {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.secHeader {
    text-align: center;
    margin-bottom: 60px;
}

.secHeader h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.dots {
    background: var(--secondaryColor);
    width: 250px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.dots span {
    width: 6px;
    height: 6px;
    background: var(--primaryColor);
    display: inline-flex;
    border-radius: 50%;
}

.aboutText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 10%;
}

.about h3 {
    font-size: 28px;
    color: var(--text);
    margin-bottom: 21px;
}

.about p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
    max-width: 500px;
}


@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.dark {
    background: var(--bg);
}

.dark .secHeader {
    color: var(--white);
}

.services {
    min-height: 620px;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 100%;
    transition: all .4s ease-in-out;
    border-radius: 25px;
    min-height: 365px;
}

.service:hover {
    background: var(--white);
}

.serviceIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: url('../images/circle.png') no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.serviceIcon img {
    max-width: 65px;
    max-height: 65px;
}

.service h3 {
    font-size: 22px;
    color: var(--white);
    margin-bottom: 20px;
}

.service:hover h3 {
    color: var(--secondaryColor);
}

.service p {
    margin-bottom: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    display: none;
}

.service:hover p {
    display: -webkit-box;
}

.service .primaryBtn {
    display: none;
}

.service:hover .primaryBtn {
    display: flex;
}



@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           Works          ||========================*/
/*==========================||---------------------------||========================*/

.works::before {
    content: '';
    background: url('../images/shape-2.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    width: 32%;
    height: 53%;
}

.works::after {
    content: '';
    background: url('../images/shape-2.png') no-repeat;
    background-size: contain;
    position: absolute;
    left: 14%;
    bottom: -9%;
    width: 68%;
    height: 48%;
}

.work {
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.workVector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.workVideo {
    height: 100%;
}

.videoPoster {
    padding: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more .primaryBtn {
    width: 270px;
    position: relative;
    z-index: 2;
}

.more .primaryBtn span {
    padding-inline-end: 120px;
}

.more .primaryBtn:hover span {
    padding: 0;
}

@media screen and (max-width:768px) {}

@media (min-width:768px) {
    .work:nth-child(even) .row {
        flex-direction: row-reverse;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Info            ||========================*/
/*==========================||---------------------------||========================*/

.info {
    position: relative;
    overflow: hidden;
}

.info::before {
    content: '';
    background: url('../images/frame-3.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: -25px;
    top: -55px;
    width: 140px;
    height: 140px;
}

.info::after {
    content: '';
    background: url('../images/frame-2.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 8%;
    bottom: -41%;
    width: 17%;
    height: 54%;
}

.info h2 {
    font-size: 25px;
    color: var(--white);
    margin-bottom: 10px;
    line-height: 45px;
}

.info h3 {
    color: var(--secondaryColor);
    width: 335px;
    max-width: 100%;
    line-height: 45px;
    font-size: 21px;
    margin-bottom: 20px;
}

.infoText {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline-start: 5%;
    position: relative;
}

.infoText::before {
    content: '';
    background: url('../images/frame.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: -23%;
    top: 14%;
    width: 65%;
    height: 70%;
}

.infoVector {
    background: rgb(35, 38, 45);
    background: linear-gradient(90deg, rgba(35, 38, 45, 1) 0%, rgba(72, 92, 106, 1) 100%);
    padding: 100px 57px;
    border-radius: 0 215px 215px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           Clients         ||========================*/
/*==========================||---------------------------||========================*/

.clients {
    position: relative;
    overflow: hidden;
}

.clients::before {
    content: '';
    background: url('../images/shape-2.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: -16%;
    width: 38%;
    height: 164%;
}

.owlClients {
    position: relative;
    z-index: 1;
}

.client {
    width: 150px;
    height: 150px;
    background: var(--white);
    border: 1px solid #ffe3a0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.client:hover {
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.16);
    border-color: transparent;
}

.clients .item {
    padding: 15px;
}

.owl-dots {
    display: flex;
    align-items: center;
}

.clients .owl-dots {
    justify-content: center;
    margin-top: 40px;
}

.owl-dot {
    width: 40px;
    height: 3px;
    background: var(--secondaryColor);
    margin: 0 5px;
}

.owl-dot.active {
    background: var(--primaryColor);
}


@media screen and (max-width:768px) {}


/*==========================||---------------------------||========================*/
/*==========================||          Contact          ||========================*/
/*==========================||---------------------------||========================*/

.contact {
    background: linear-gradient(180deg, var(--white) 50%, var(--bg) 50%);
    padding: 60px 0 0;
}

.contactBox {
    background: var(--bgLight);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.contact h2 {
    font-size: 40px;
    color: var(--primaryColor);
}

.link {
    display: flex;
    align-items: center;
}

.link span {
    width: 60px;
    height: 60px;
    background: var(--secondaryColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 15px;
    font-size: 25px;
}

.link label {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}


@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||           Footer          ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 80px 0 40px;
}

.footer::before {
    content: '';
    background: url('../images/dots-2.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 30%;
    top: -26%;
    width: 40%;
    height: 184%;
    animation: scale 3s ease-in-out infinite alternate;
}

@keyframes scale  {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.0) ;
    }
}


.footer .logo {
    margin: auto;
    display: block;
    width: 180px;
    margin-bottom: 20px;
}

.footer p {
    color: var(--white);
}

.footer a {
    color: var(--primaryColor);
}

@media screen and (max-width:768px) {}


/*==========================||---------------------------||========================*/
/*==========================||           Modal           ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||             Ar            ||========================*/
/*==========================||---------------------------||========================*/

.ar {
    direction: rtl;
    text-align: right;
}